{% block content %}
    <form action="/comments/{{ userId }}/{{ commId }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Comment</legend>
            <label class="form-label">comment:</label>
            <input type="text" class="form-control mb-1" name="note" placeholder="">
        </fieldset>
        <input type="submit" class="btn btn-success" value="add comment">
    </form>
{% endblock %}