{% layout "layout.liquid" %}
{% block content %}
<div class="container-md mt-4">    
    <h2>Welcome!</h2>
        <hr>
            <div>
                <form action="/mtgapi/newpack" method="POST">
                    <fieldset>
                        <legend>Select a set:</legend>
                        <select name="set" id="pack">
                            {% for set in sets %}
                                {% if set.booster %}
                            <option value="{{ set.code }}">{{ set.name }}</option> 
                                {% endif %}
                            {% endfor %}
                        </select>
                    </fieldset>
                    <input type="submit" value="BUST IT!" class="btn btn-success mt-3">
                </form>
                <small>(Please allow 3-4 seconds for pack to load)</small>
            </div>
    </div>
{% endblock %}