{% block content %}
<div class="row">
    <h2>Saved Cards</h2>
    {% for savedCard in savedCards %}
        <ul>
            <li> {{ savedCard.name }} </li>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}