{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h2>Your Cards!</h2>
            <div class="row">
                {% for cards in mtgCardPack %}
                    <div class="col mt-3">
                        <img src="{{cards.imageUrl}}" max-width="100%" height="auto"></img>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
