{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h2>Your Cards!</h2>
            <div class="row">
                {% for cards in mtgCardPack %}
                    <div class="col mt-3">
                        <img src="{{cards.imageUrl}}" width="226px" height="311px"></img>
                            <form action="/cards/{{ savedPack.id }}" method="POST">
                            <input type="submit" class=""btn btn-danger value="Save"></form>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
