body {
    background-color: rgb(241, 248, 251);
}

.mtgcard {
    display:inline-block;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    z-index: 10;
}

.zoom:hover {
    transform: scale(1.5);
}

.cardInfo {

    border: 1px solid grey;
    border-radius: 5px;
}
/* 
.preload {
    display: none;

} */