body {
    background-color: rgb(249, 251, 253);
}

.mtgcard {
    display:inline-block;
}

.zoom {
    transition: transform .2s;
    margin: 10 auto;
    z-index: 10;
}

.zoom:hover {
    transform: scale(1.3);
}

.cardInfo {
    
    padding: 50px 65px 20px 65px;
    background-image: url('/ScrollBg2crop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
}

.noteInfo {
    border: 1px solid grey;
    border-radius: 5px;
}

.cardstack {
    margin-top: -250px;
    margin-left: 10px;
    border-radius: 20px;
}

.cardstack:hover {
    z-index:555555 !important;
    transform: translate(0px, 10px);
    transition: .2s;
}

.toprow {
    padding-top: 250px;
}

.save {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
    opacity: .8;
    /* border: 2px black solid; */
}

.navshadow {
    text-shadow: 1px 1px 2px grey;
}

/* 
.preload {
    display: none;

} */