body {
    background-color: rgb(249, 251, 253);
}

.mtgcard {
    display:inline-block;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    z-index: 10;
}

.zoom:hover {
    transform: scale(1.4);
}

.cardInfo {
    padding: 0px 55px 0px 55px;
    /* border: 1px solid grey;
    border-radius: 5px; */
    background-image: url('/ScrollBg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.noteInfo {
    border: 1px solid grey;
    border-radius: 5px;
}

.cardstack {
    margin-top: -250px;
    margin-left: 10px;
    border-radius: 20px;
}

.cardstack:hover {
    z-index:555555 !important;
}

.toprow {
    padding-top: 250px;
}

.save {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
    /* border: 2px black solid; */
}
/* 
.preload {
    display: none;

} */