{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/savedPacks" method="POST">
        <fieldset>
            <legend>Create New Pack</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter Pack title"
                class="form-control"
            >
            <label class="form-label">Card Multiverse ID:</label>
            <input 
                type="text" 
                name="cards.id" 
                placeholder="enter card ID"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Create New Pack" class="btn btn-success">
    </form>
</div>
{% endblock %}