{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <div class="btn-group mt-3">
        <form action="/savedCards/{{ savedCard.id }}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit card info</legend>
                <label class="form-label">Notes:</label>
                <textarea 
                    rows="3"
                    cols="25"
                    type="text" 
                    name="notes" 
                    placeholder="Add note here"
                    class="form-control"
                    value="{{ savedCard.note }}"
                ></textarea>
            </fieldset>
            <input type="submit" value="Submit" class="btn btn-success mt-3">
            <a href="javascript:history.back()" class="btn btn-warning mt-3">Back</a>
        </form>
    </div>
</div>
{% endblock %}