{% layout 'layout.liquid'%}
{% block content %}
{% if users.length > 0 %}
<div class="container-md mt-4">    
    <h2>User collections:</h2>
    <hr>
    <div class="ul">
        {% for user in users %}
            <div class="col">
                <h5>{{ user.username }} - <a href="savedcards/user/{{ user.id }}" style="text-decoration: none; color: black;">View</a>
                </h5>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>
    {% else %}
    <div class="container-md">
            <h2>No users!</h2>
        </div>
    {% endif %}
{% endblock %}