{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md mt-4">
    {% if ownerId == userId %}
    <h2>My Cards</h2>
{% else %}
    <h2>{{ user.username }}'s Cards</h2>
{% endif %}
<hr>
    {% if scryInfo.length > 0 %}
    <div class="row toprow mt-2">
        {% for scryCard in scryInfo %}
            <div class="col-2 cardstack">
                <a href="/savedCards/{{ scryCard.id }}"><img src="{{ scryCard.png }}" height="311px" width="226px"></a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container-md">
            <h2>No cards yet... Go bust some packs!</h2>
        </div>
    {% endif %}
    <hr>
    <h5>Comments</h5>
    <hr>
    {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comments/{{ ownerId }}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">comment:</label>
                    <input type="text" class="form-control mb-1" name="note">
                </fieldset>
                <input type="submit" class="btn btn-success" value="add comment">
            </form>
        </div>
    {% else %}
        <div class="col-md-6">
            <small>If you'd like to leave a comment, please log in...</small>
        </div>
    {% endif %}
    <hr>
    {% if user.comments.length > 0 %}
        <div class="container-sm">
            {% for comm in user.comments %}
                    {% render '../comment.liquid', comm: comm, ownerId: ownerId, userId: userId, user: user %}
            {% endfor %}
        </div>
    {% else %}
        <small>no comments yet...</small>
    {% endif %}
</div>
{% endblock %}