{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md mt-4">
    {% if ownerId == userId %}
    <h2>My Cards</h2>
{% else %}
    <h2>{{ user.username }}'s Cards</h2>
{% endif %}
<hr>
    {% if savedCards.length > 0 %}
    <div class="row toprow mt-2">
        {% for card in savedCards %}
            <a href="/savedCards/{{ card.id }}" class="col-2 me-1 cardstack">
            <div style="background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?type=card&multiverseid={{ card.multiverseid }}'); background-size: cover; background-position: center; height: 311px; width: 226px; border-radius: 12px">
            </div>
            </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="container-md">
            <h2>No cards yet... Go bust some packs!</h2>
        </div>
    {% endif %}
    <hr>
    <h5>Comments</h5>
    <hr>
    {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comments/{{ ownerId }}" method="POST">
                <fieldset>
                    <input type="text" class="form-control mb-1" name="note">
                </fieldset>
                <input type="submit" class="btn btn-primary" value="add comment">
            </form>
        </div>
    {% else %}
        <div class="col-md-6">
            <small>If you'd like to leave a comment, please log in...</small>
        </div>
    {% endif %}
    <hr>
    {% if user.comments.length > 0 %}
        <div class="container-sm row">
            <div class="col-8">
            {% for comm in user.comments %}
                    {% render '../comment.liquid', comm: comm, ownerId: ownerId, userId: userId, user: user %}
            {% endfor %}
            </div>
            <div class="col-4"></div>
        </div>
    {% else %}
        <small>no comments yet...</small>
    {% endif %}
</div>
{% endblock %}