{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/mtgapi/search" method="POST">
        <fieldset>
            <legend>Search</legend>
            <label class="form-label">Card Name:</label>
            <input 
                type="text" 
                name="name"
                placeholder="Card Name"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Search" class="btn btn-success mt-3">
    </form>
</div>
{% endblock %}